@use "sass:math";
@import "@/styles/style-guide";

.base {
  position: fixed;
  bottom: 0;

  padding: $spacer;
  width: 100%;

  color: $white;
  background: $gray-900;

  ul {
    // Reset element
    list-style: none;
    margin: 0;
    padding-left: 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    color: $white;

    font-size: $font-size-sm;
    text-align: center;
    text-decoration: none;

    // Text
    span {
      line-height: 1;
    }
  }
}

.icon {
  font-size: 2.4rem;
  margin-bottom: math.div($spacer, 2);
}
